{% load static %}
<!-- partial:partials/_sidebar.html -->
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header border-bottom border-light">
        <a href="{% url 'home-page' %}" class="brand-logo">
            <div class="container-fluid">
                <div class="small-logo-container d-flex align-items-center justify-content-center">
                    <img src="{% static 'employee_information\assets\material-admin\images\new_ems.PNG' %}" alt="Small Logo" class="small-logo-img" style="max-width: 100px; max-height: 100px;">
                </div>
        
                
                </div>
        </a>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'home-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'position-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Daily Monitored List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'employee-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">group</i> Customer Conversion
                    </a>
                </div>
                
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'department-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">business</i>
                        <span class="mdc-list-item__text">Employee Monitored Hrs</span>
                    </a>
                </li>
            </div>
<!-- Page 1 -->
<!-- Page 1 -->
<div class="mdc-list-item mdc-drawer-item">
    <a class="mdc-drawer-link" href="{% url 'about-page' %}">
        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">info</i>
        <span class="mdc-list-item__text">Heatmap Conversion</span>
    </a>
</div>

<!-- Page 2 -->
<div class="mdc-list-item mdc-drawer-item">
    <a class="mdc-drawer-link" href="{% url 'user_management' %}">
        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">person</i>
        <span class="mdc-list-item__text">User Management</span>
    </a>
\

                
                </div>
            </nav>
        </div>
    </div>
</aside>
<!-- partial -->